*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.App{
    text-align: center; 
}

.weathershow{
    width: 400px;
    margin: 0 auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 50px;
}

